@import '../helper/mixins';

.best-movie {
    padding: 100px 150px;
    background-color: black;
    display: flex;
    justify-content: center;

    &__title {
        position: relative;
        @include text($font-size_best_movie_title, $font-weight_best_movie_title);
        &__logo {
            position: absolute;
            top: 0%;
            left: -30%;
            width: 5.5rem;
            height: 5.5rem;
            transform: rotate(-8deg);
        }
    }


    &__info {
        width: 20rem;
        min-width: 12rem;
        padding: 70px 60px 100px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        &__title {
            @include text($font-size_title, $font-weight_title)
        }

        &__btn {
            @include button($white, $color-brand, $height-btn_play);
            &:hover {
                background-color: $white;
                color: $color-brand;
            }
        }

        &__plot {
            @include text($font-size_plot, $font-weight_plot)
        }

        &__img {
            width: 30rem;
            max-width: 30rem;
            object-fit: cover;
            user-select: none;
            &:hover {
                cursor: pointer;
            }
        }
    }
}