@import '../helper/mixins';

.carousel {
    width: 100%;
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: column;
    background-color: rgb(20,20,20);
    user-select: none;

    &__title {
        font-family: 'Lato', sans-serif;
        color: white;
        margin-bottom: 0.3rem;

        align-self: center;
        width: 95%;
        @media (min-width: 992px) {
            width: 87.5%;
        }
        @media (min-width: 1200px) {
            width: 75%;
        }
    }

    &__wrapper {
        position: relative;

        align-self: center;
        width: 95%;
        @media (min-width: 992px) {
            width: 87.5%;
        }
        @media (min-width: 1200px) {
            width: 75%;
        }
    }

    &__items {
        display: flex;
        width: 100%;

        &__image {
            display: block;
            width: 50%;
            &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                display: none;
            }
            @media (min-width: 361px) {
                width: 33.33%;
                &:nth-child(3) {
                    display: initial;
                }
            }
            @media (min-width: 577px) {
                width: 25%;
                &:nth-child(4) {
                    display: initial;
                }
            }
            @media (min-width: 1200px) {
                width: 20%;
                &:nth-child(5) {
                    display: initial;
                }
            }
            &:hover {
                transform: scale(1.05);
            }
        }
    }

    &__btn {
        position: absolute;
        height: inherit;
        color: white;
        font-size: 3rem;
        font-weight: bold;
        text-align: center;
        height: auto;

        @media (min-width: 576px) {
            font-size: 4rem;
        }
        @media (min-width: 1200px) {
            font-size: 5rem;
        }
        

        &.right {
            top: 37%;
            right: -2.5%;
            @media (min-width: 992px) {
                top: 35%;
                right: -6.5%;
            }
        }
        &.left {
            top: 37%;
            left: -2.5%;
            @media (min-width: 992px) {
                top: 35%;
                left: -6.5%;
            }
        }
    }
}

