@import './variables';

@mixin button($color: $white, $background-color: $black, $height: 2em) {
    font-family: 'Lato', sans-serif;
    height: $height;
    width: 6rem;
    margin: 0.6rem 0.3rem;
    line-height: $height;
    text-align: center;
    font-weight: 600;
    background-color: $background-color;
    color: $color;
    border-radius: 12px;
    user-select: none;
}

@mixin text($size, $weight) {
    font-size: $size;
    margin: 0;
    overflow-wrap: break-word;
    word-break: break-word;
    color: white;
    font-weight: $weight;
    font-family: 'Lato', sans-serif;
    user-select: none;
}

@mixin carousel__btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -40px;
    padding: 1%;
    color: $color-brand;
    font-weight: bold;
    font-size: 45px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

@mixin modal_header_img($top) {
    margin-top: $top;
    width: 2rem;
    height: 2rem;
}