@import './variables';

@mixin button($color: $white, $background-color: $black, $height: 2em) {
    font-family: 'Lato', sans-serif;
    height: $height;
    width: 6rem;
    margin: 0.6rem 0.3rem;
    line-height: $height;
    text-align: center;
    font-weight: 600;
    background-color: $background-color;
    color: $color;
    border-radius: 12px;
    user-select: none;
}
