$white: #fff;
$black: #000;
$color-brand: #E50914;
$color-dot-inactive: #862d31;

$font-size_best_movie_title: 3rem;
$font-weight_best_movie_title: 900;

$font-size_title: 2.5rem;
$font-weight_title: 900;

$font-size_plot: 1.5rem;
$font-weight_plot: 500;

$font-size_category: 2rem;
$font-weight_category: 700;

$size-translate_x: 10%;
$size-translate_y: 5%;
$height-btn_play: 3rem;