<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JustStreamIt</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class='header'>
        <a class="header__link--brand" href="http://127.0.0.1:5000/">
            JustStreamIt
        </a>
        <div class="header__container-link">
            <a class="header__link active" href="http://127.0.0.1:5000/">
                Accueil
            </a>
            <a class="header__link" href="http://127.0.0.1:5000/categories">
                Catégories
            </a>
        </div>
    </header>

    <!-- <section class="best-movie">
        <div class="best-movie__info">
            <h1 class="best-movie__title">
                Best Movie
                <img class="best-movie__title__logo" src="../static/img/best.png" />
            </h1>
            <h1 class="best-movie__info__title">{{ Title }}</h1>
            
            <div class="best-movie__info__btn" id_movie="hulk">More</div>
            <p class="best-movie__info__plot">{{ Plot }}</p>
        </div>
        <img class="best-movie__info__img" id_movie="hulk" src={{ Poster }} />
    </section> -->


    {% for category in categories %}
        <section class="carousel">
            <h2 class="carousel__title"> {{ category }}</h2>
            <div class="carousel__wrapper">
                <div class="carousel__items">
                    <img class="carousel__items__image" src={{ categories[category][0] }} alt="movie" />
                    <img class="carousel__items__image" src={{ categories[category][1] }} alt="movie" />
                    <img class="carousel__items__image" src={{ categories[category][2] }} alt="movie" />
                    <img class="carousel__items__image" src={{ categories[category][3] }} alt="movie" />
                    <img class="carousel__items__image" src={{ categories[category][4] }} alt="movie" />
                </div>
                <div class="carousel__btn left"><</div>
                <div class="carousel__btn right">></div>
            </div>
        </section>
    {% endfor %}
    

    <!-- {% include 'modal.html' %}

    <footer class='footer'>
        <a class="footer__link" href="http://127.0.0.1:5000/">
            JustStreamIt
        </a>
    </footer> -->


  </body>
  <script src="static/js/animation_img.js"></script>
  <script src="static/js/carousel.js"></script>
  <!-- <script src="static/js/modal.js"></script> -->
</html>
