<section class="modal">
    <div class="modal__content">
        <div class="modal__header">
            <h1 class="modal__header__title">Titre</h1>
            <div class="modal__header__close">
                <img class="modal__header__close__img" src="../static/img/cancel.png"  alt="close" />
            </div>
        </div>

        <div class="modal__section1">
            <p class="modal__section1__plot"></p>
            <div class="modal__section1__container">
                <img class="modal__section1__img" alt="movie" />
            </div>
        </div>
    </div>
</section>